@model List<CMS.Models.Post>

@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-body">

        <table id="posts" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Data</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>
</div>

@if (Model.Count == 0)
{
    <p> We don't have any customers yet.</p>
}


@section scripts {

    <script>

        $(document).ready(function () {

            var table = $("#posts").DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@Url.Content("~/api/posts/")', dataSrc: ""
                },
                columns: [
                    { data: "postTitle" },
                    { data: "createdAt" },
                    {
                        data: "id",
                        render: function (data) {
                            var _buttons = "<button class='btn-link js-delete' data-category-id=" + data + ">Delete</button>";
                            _buttons += "<a href='/Posts/Edit/" + data + "'>Edit</a>";
                            return _buttons;
                        }
                    }
                ]
            });


            $("#posts").on("click", ".js-delete", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this customers?")) {
                    $.ajax({
                        url: '/api/posts/' + button.attr("data-postId"),
                        method: "DELETE",
                        success: function () {
                            console.log("success");
                            button.parents("tr").remove();
                        }
                    }).done(function () {
                        console.log("success");
                    });
                }
            });
        });


    </script>

}
